#Exercise 1: Create a Jupyter Notebook called DataScienceEcosystem.ipynb

#Exercise 2: Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading

# Data Science Tools and Ecosystem

#Exercise 3: Write an introductory sentence about the notebook

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

- List popular languages for data science
- List popular data science libraries
- List popular Integrated Development Environments (IDEs) for data science
- Learn Jupyter Notebooks and R as IDEs
- Learn and understand Github repositories

#Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java
5. JavaScript

#Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. NumPy
3. Keras
4. TensorFlow

#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
-----------------------------
|IBM Watson Studio|
|Jupyter Notebooks|
|Google Colab|
|Visual Studio|

#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

#Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
#### This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

#Exercise 9 - Create a code cell to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

#Exercise 10 - Insert a markdown cell to list Objectives

#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Kelvin Ndangili